<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Berhasil menambahkan user!</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container mt-5">
    <h2>Sukses!</h2>
    <p th:text=" 'Berhasil menambahkan user dengan nama ' + ${username} + '.'"></p>
    <p class="mt-3"><a href="/">Kembali ke Home</a></p>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>