<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Jenis Lowongan</title>
    <!-- jquery, ajax, and bootstrap.js -->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<!--(pageTitle='Tambah Jenis Lowongan')-->
<nav th:replace="fragments/fragment :: navbar "></nav>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 center">
            <div class="card">
                <div class="card-header">Request Peminjaman</div>
                <div class="card-body">
                    <form th:action="@{/api/buat-pinjaman}" method="POST">

                        <label> Tanggal Pengajuan </label>
                        <input type="date" name="tanggalPengajuan" class="form-control"/>
                        <br>

                        <label> Jumlah Pinjaman </label>
                        <input type="number" name="jumlahPinjaman" class="form-control"/>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<footer th:replace="fragments/fragment :: footer"></footer>
</html>