<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
    <head>
        <title id ="pageTitle">Main Menu</title>

        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>

        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Daftar Jenis Surat</div>
                        <div class="card-body">
					                <table class="table table-striped" id="myTable">
					                    <thead>
					                        <tr>
					                        	<th>No</th>
					                            <th>Nama</th>
					                            <th>Keterangan</th>
					                            <th>Action<th/>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        <tr th:each="jenisSurat, iterationStatus : *{jenisSuratList}" th:style="${iterationStatus.even} ? 'color: blue'">
					                            <td th:text="${iterationStatus.count}"></td>
					                            <td th:text="${jenisSurat.nama}"></td>
					                            <td th:text="${jenisSurat.keterangan}"></td>
					                          	<td>
					                          	<div class="form-row col-lg-8">
					                        		<form class="form-group col-md-3" th:action="@{/jenisSurat/hapus/}+${jenisSurat.idJenisSurat}">
					                        			<button class="btn btn-large btn-danger">Hapus</button>
					                        		</form>
					                        	</div>
					                        	</td>
					                        	
					                        </tr>
					                    </tbody>

					                </table>
					                <a th:href="@{/jenisSurat/tambah}" class="btn btn-large btn-dark" style="float:right">Tambah Jenis Surat</a>
					        </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    <br>
    </body>
</html>