<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ubah Status Pengajuan Surat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 center">
                    <div class="card">
                        <div class="card-header">Ubah Status Pengajuan Surat</div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>
                                        Nomor Surat
                                    </th>
                                    <td th:text="${pengajuanSurat.nomorSurat}"></td>
                                </tr>
                                <tr>
                                    <th>
                                        Keterangan
                                    </th>
                                    <td th:text="${pengajuanSurat.keterangan}"></td>
                                </tr>
                                <tr>
                                    <th>
                                        Jenis Surat
                                    </th>
                                    <td th:text="${pengajuanSurat.jenisSurat.nama}"></td>
                                </tr>
                                <tr>
                                    <th>
                                        Status
                                    </th>
                                    <td>
                                        <form th:action="@{/pengajuan-surat/change}+${pengajuanSurat.id}" th:object="${pengajuanSurat}" method="POST">
                                            <input type="hidden" th:field="${pengajuanSurat.id}" />
                                            <select class="form-control" name="idJenisSurat" th:if="${role == 'Admin TU'}">
                                                <option selected th:value="${pengajuanSurat.status}">Disetujui</option>
                                                <option value="3">Diproses</option>
                                                <option value="4">Selesai</option>
                                            </select>
                                            <select class="form-control" name="idJenisSurat" th:if="${role == 'Kepala Sekolah'}">
                                                <option selected th:value="${pengajuanSurat.status}">Menunggu persetujuan</option>
                                                <option value="1">Ditolak</option>
                                                <option value="2">Disetujui</option>
                                            </select>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments/fragment :: footer"></footer>
    </div>
</body>
</html>