<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
    <head>
        <title id="pageTitle">Tambah Jenis Surat</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <!--<div class="col-md-6"><h2>Tambah Jenis Surat</h2></div>-->
        <!--<form th:action="@{/jenis-surat/add}" th:object="${jenisSurat}" method="POST">-->
            <!--<input type="hidden" th:field="${jenisSurat.idJenisSurat}"></input>-->
            <!--<div class="form-row col-lg-4">-->
	            <!--<div class="form-group col-md-6">-->
				    <!--<label for="namaField">Nama</label>-->
				    <!--<input type="text" name="nama" class="form-control" id="namaField" th:value="${jenisSurat.nama}"></input>-->
				<!--</div>-->
				<!--<div class="form-group col-md-6">-->
				    <!--<label for="descriptionField">Keterangan</label>-->
				    <!--<input type="text" name="keterangan" class="form-control" id="descriptionField" th:value="${jenisSurat.keterangan}"></input>-->
				<!--</div>-->
			<!--</div>-->
				<!--<div class="form-group col-lg-3">-->
				 <!--<button class="btn btn-large btn-success" type="submit">Submit</button>-->
			<!--</div>-->
        <!--</form>-->

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 center">
                    <div class="card">
                        <div class="card-header">Tambah Jenis Surat Baru</div>
                        <div class="card-body">
                            <form th:action="@{/jenis-surat/add}" th:object="${jenisSurat}" method="POST">
                                <input type="hidden" th:field="${jenisSurat.idJenisSurat}">
                                <label for="namaField">Nama Jenis Surat</label>
                                <input type="text" name="nama" class="form-control" id="namaField" th:value="${jenisSurat.nama}">
                                <br>
                                <label for="descriptionField">Keterangan</label>
                                <input type="text" name="keterangan" class="form-control" id="descriptionField" th:value="${jenisSurat.keterangan}"></input>
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>