<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container mt-5">
    <h2 th:text="'Sukses!'" style="text-align: center;" class="font-weight-bold"></h2>
    <p th:text="'Pengajuan Surat berhasil ditambahkan.'" style="text-align: center;"></p>
    <a th:href="@{/pengajuan-surat/view-all}" class="mt-3" style="color: slateblue; text-align: center">Lihat seluruh Pengajuan Surat</a>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>