<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="jumbotron">
    <h1 class="m-4 font-weight-bold" style="font-size: x-large">Berhasil!</h1>
    <p>Pengajuan surat berhasil ditambahkan.</p>
</div>
</body>
</html>